body {
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-position: center center; /* Centraliza a imagem */
    background-size: cover; /* Ajusta o tamanho para cobrir a tela sem distorcer */
    background-attachment: fixed;
}
.data-hora{
    text-align: center;
}

dialog {
    text-align: center;
    position: relative;
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 30px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    background-color: #201F1F;
    color: white;
}

.fechar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    color: white;
}

.data-hora p{
    font-size: 30px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#div-btn-registrar-ponto{
    text-align: center;
    width: 100%;
    height: 100%;
}

#btn-registrar-ponto{
    opacity: 90%;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    background-color: #A79C7A;
    color: white;
    font-size: 30px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    transition: all 0.5s ease-out;
}

#dia-semana{
    font-size: 20px;
}
#hora-min-seg{
    padding-top: 10%;
    font-size: 50px;
}

#select-tipos-ponto{
    font-size: 20px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    color: #201F1F;
}

#btn-dialog-registrar-ponto{
    color: #A79D7B;
    font-size: 20px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    background-color: #A12433;
}

#btn-registrar-ponto:hover{
    opacity: 90%;
    padding: 30px;
    border: 1px;
    border-radius: 50px;
    background-color: #1B1C1C;
    color: #A79D7B;
    font-size: 30px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
}

.hidden{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.show{
    opacity: 1;
}

#div-alerta{
    background-color: #171c1c;
    color: #a69c7c;
    padding: 15px;
    position: fixed;
    right: 10px;
    bottom: 140px;
    font-size: 15px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

#container-opcoes-detalhes{
    text-align: center;
    padding: 2vh;
    color: white;
}

#div-alerta{
    text-align: right;
}

#btn-fechar-div-alerta{
    background-color: #ce0c0c;
}