.data-hora{
    text-align: center;
}

dialog {
    position: relative;
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.fechar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.tela-confirmacao {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    background-color: #008000;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    z-index: 1000;
    width: 100%;
}

.tela-confirmacao.visivel {
    opacity: 1;
}

.data-hora p{
    font-size: 30px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}

#div-btn-registrar-ponto{
    text-align: center;
}

#btn-registrar-ponto{
    padding: 30px;
    border-radius: 100px;
    width: fit-content;
}